.sidebar {
  width: 300px;
  /* margin: 0;
  padding: 0; */
  /* position: fixed;
  height: 100%;
  overflow: auto; */
}

ul button {
  /* width: 240px; */
  border: none;
  cursor: pointer;
  height: 30px;
  background-color: transparent;
  display: flex;
  justify-content: left;
  padding-left: 30px;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
  cursor: pointer;
}

#myMenu li a:hover {
  background-color: #eee;
  cursor: pointer;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar {
    display: none;
  }

  .sidebar a {
    text-align: center;
    float: none;
  }
}
